name: Build containers (reusable workflow)

on:
  workflow_call:
    inputs:
      environment-name:
        required: true
        type: string

env:
  BRANCH_NAME: >-
    ${{ github.event.pull_request.number && 'PR-' }}${{ github.event.pull_request.number || github.ref_name }}
  PUBLISH_CONTAINER: 1

jobs:
  display-message:
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        run: |
          echo "Container job approved to run"
  build-containers:
    name: Build CI containers (${{ matrix.image_repo }})
    runs-on:
      - runs-on
      - runner=${{ matrix.runner }}
      - run-id=${{ github.run_id }}
      - tag=build-containers-${{ matrix.image_repo }}
    needs: display-message
    strategy:
      fail-fast: false
      matrix:
        image_repo:
          - xgb-ci.clang_tidy
          - xgb-ci.cpu
          - xgb-ci.cpu_build_r_doc
          - xgb-ci.gpu
          - xgb-ci.gpu_build_r_rockylinux8
          - xgb-ci.gpu_build_rockylinux8
          - xgb-ci.gpu_build_cuda13_rockylinux8
          - xgb-ci.jvm
          - xgb-ci.jvm_gpu_build
          - xgb-ci.manylinux_2_28_x86_64
          - xgb-ci.manylinux2014_x86_64
          - xgb-ci.i386
        runner: [linux-amd64-cpu]
        include:
          - image_repo: xgb-ci.manylinux2014_aarch64
            runner: linux-arm64-cpu
          - image_repo: xgb-ci.manylinux_2_28_aarch64
            runner: linux-arm64-cpu
          - image_repo: xgb-ci.gpu_build_cuda13_rockylinux8_aarch64
            runner: linux-arm64-cpu
          - image_repo: xgb-ci.gpu_build_rockylinux8_aarch64
            runner: linux-arm64-cpu
          - image_repo: xgb-ci.gpu_aarch64
            runner: linux-arm64-cpu
    environment: ${{ inputs.environment-name }}
    steps:
      # Restart Docker daemon so that it recognizes the ephemeral disks
      - run: sudo systemctl restart docker
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - name: Build ${{ matrix.image_repo }}
        run: bash containers/docker_build.sh ${{ matrix.image_repo }}
