name: Build containers (deploy)

on:
  workflow_dispatch:
    inputs:
      upstream_repository:
        required: false
        type: string
      upstream_job:
        required: false
        type: string
  push:
    branches:
      - main
    paths:
      - 'containers/**'
      - '.github/workflows/containers.yml'
      - '.github/workflows/containers-staging.yml'
      - '.github/workflows/containers-deploy.yml'
  schedule:
    - cron: "0 7 * * 1"  # Run once weekly

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  trigger-build:
    uses: ./.github/workflows/containers.yml
    with:
      environment-name: containers-deploy
